button {
    background-color: #c6c6c6;
    border-color: #111111;
    font-size: 44px;
    padding: 15px 30px;
    color: #00A19c;
    width: 100px;
}


.count {
    font-size: 44px;
    color: #111111;
    padding: 15px 30px;
}